<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rezigo.rezigo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rezigo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityChercher" />
        <activity android:name=".ActivityProposer" />
        <activity android:name=".ActivityInformation" />
        <activity android:name=".ActivityList" />
        <activity android:name=".ActivityLeave" />
        <activity android:name=".ActivityProfil"></activity>
    </application>

</manifest>